
/* Add backgrpund color to web page */
.topnav {
/*background-color:#E5DFCC;no need*/ 
overflow: hidden;
text-align: right;
}

/*Style the links inside the nav bar*/
.topnav a{
    float:left;
    color: #B64905;
    text-align: center;
    padding: 14px  16px;
    text-decoration: none;
    font-size: 30px;
    margin: 40px 25px 15px 10px;
}

/* Change the color of link on hover*/
.topnav a:hover {
    background-color: #ddd;
    color:black;

}

/* Add a color to active/current link*/
.topnav a.active{
    color:black;
}

.topnav ul li{
    display:inline-block;
    list-style-type: none;
}

.logo-img{
    float:left;
    margin: 10px 15px 15px 10px;
}

/* main content */
.main{
    font-size: 50px;
    text-align: center;
    float:left;
    margin-top: 130px;
    margin-left: 250px;
}

/* Order online button */
.btn{
    background-color: #B64905;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    padding:15px 32px;
    border-radius: 32px;
    margin: 2px 2px;
    cursor: pointer;
}

/*right side food picture*/
.logo-dish{
    float: right;
    margin-right: 100px;
    margin-top: 130px;
    border-radius: 20px;
}
